{% extends 'master.html' %}    
{% block body %}
    <h2>{{ data[1] }} ({{ data[2] }})</h2>
    <p><a href="{{ data[3] }}">View on IMDB</a></p>
    <h3>Average Rating: {{ avg }}</h3>
    {% if prediction %}
    <h3>We predict you will rate this movie {{prediction}}.</h3>
    {% endif%}
    <h3>Varchar says:</h3>
    <p>"{{beratement}}"</p>
    <form class="form-inline" method="POST" action="/movie/{{ data[0] }}">
        {% if user_rating %}
        <h3>Your rating: {{ user_rating }}</h3>
        <input type="text" class="form-control rate" placeholder="Your current rating: {{ user_rating }}" name="rating">
        {% else %}
        <input type="text" class="form-control rate" placeholder="Rating" name="rating">
        {% endif %}
        <br/>
        <input type="submit" class="rate btn btn-sm btn-primary " value="Submit">
    </form>
    <table>
        <th style="width: 100px;">User</th>
        <th>Rating</th>
    {% for rating in ratings %}
        <tr>
            <td><a href="/user/{{rating[0]}}">{{ rating[0] }}</a></td>
            <td>{{ rating[1] }}</td>
            </td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}

<!-- note to ourselves: maybe render separate templates for each list item in order to use logic ONLY in python -->